
/* # Header
------------------------------*/

.logo-container__header, .logo-container__footer {
  margin: 1em 0 0;
}

.col.col-full {
  padding: 0;
}

.entry-header {
  display: none;
}

.version-menu-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 550px;
  margin: 0 auto;
}

.version-menu {
  text-align: center;

    &:hover {
      text-decoration: underline;
    }

  a {
    color: $color--text-main;
  }
}

/*End*/

