$color__black: #000000;
$color__white: #ffffff;

$color__body: #f8f8ff;
$color__text-main: #000000;

$color__red: #8e2525;
$color__orchid: #9932cc;

$color__modal-border: #bbb;

$color__footer: #fff;

