$color__black: #000000;
$color__white: #ffffff;

$color__body: #f8f8ff;
$color__body-alt: #262626;

$color__bg: #ebebeb;
$color__bg-alt: #242424;

$color__blue: #0587ce;

$color__orchid: #9932cc;
$color__gold: #e6b800;
$color__lgray: #bbb;
$color__gray: #333333;

$color__text-main: #262626;

$color__subheader: #fffff0;
$color__footer: #fff;
$color__menu: #0d0d0d;

$color__panel: #8e2525;
$color__cta: #242424;