
$font__alianza: 'alianza', sans-serif;
$font__raleway: 'raleway', sans-serif;
$font__ubuntu: 'Ubuntu', sans-serif;
$font__open: 'Open Sans', sans-serif;

$font__headline: $font__ubuntu;
$font__main: $font__open;
